html,
body {
    height: 100%;
    margin-top: 200px;
}

.bounce {
    width: 30px;
    height: 30px;
    background-color: blue;
    margin: 0 auto;
    border-radius: 50%;
    animation: bounce 0.5s infinite alternate;
}

@keyframes bounce {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-100px);
    }
}