html,
body {
  height: 100%;
  margin-top: 150px;
  text-align: center;
}


button {
  background-color: #d0e1f8;
  border: 2px solid #1a2299;
  box-shadow: #1a2299 4px 4px 0 0;
  border-radius: 30px;
  color: #1a2299;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
}

button:hover {
  background-color: #fff;
}

.com-efeito:active {
  box-shadow: #1a2299 2px 2px 0 0;
  transform: translate(2px, 2px);
}