html,
body {
  height: 100%;
}


.div-pai {
    background-color: #061bb0;    
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;

}

.div-filho {
    background-color: #F3F7FA;
    height:100px;
    width:100px;    
}